@import "../../scss/variables.scss";

.dialog {
}

.message {
}
.buttonGroup {
    display: flex;
    gap: 10px;
}
.btn {
    border: none;
}

.btn-order {
    background: $primary-color;
    color: white;
    font-weight: bold;
    flex: 1;
}
.btn-cancel {
    background: $secondary-color;
    color: white;
    font-weight: bold;
    flex: 1;
}
.btn.primary.btn-order {
}
.btn.primary.btn-cancel {
}
