@import "../../scss/_variables.scss";

.write-review {
    .title {
        font-weight: 700;
    }

    .form-review {
        .form-group {
            margin-bottom: 10px;
        }

        .btn.btn-primary.submit-review {
            background: $primary-color;
            border: none;
            font-weight: 600;
        }
    }
}
