@import "../../scss/_variables.scss";

.register-text {
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    color: #999;
    text-decoration: underline;
}
.btn-signIn {
    flex: 1;
    background: $primary-color;
    font-weight: 700;
}

.btn-register {
    flex: 1;
    background: $secondary-color;
    font-weight: 700;
}

.button-group {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    .btn{
        border: none;
    }
}

.error-message{
    color: red;
    font-size: .8rem!important;
}

.alert {
    margin-top: 10px;
}
