@import "./reset.scss";

$primary-color: #951b1b;
$secondary-color: #15141a;
$white: #ffffff;
$white-smoke: #f8f8fc;
$grey: #aaa;


// Background color
.bg-primary-color {
    background: $primary-color !important;
}

.bg-secondary-color {
    background: $secondary-color !important;
}

.bg-white-color {
    background: $white;
}
.bg-white-smoke-color {
    background: $white-smoke;
}
// Font color
.font-primary-color {
    color: $primary-color!important;
}

.font-secondary-color {
    color: $primary-color;
}

.font-white-color {
    color: $white;
}

.font-grey-color {
    color: $grey;
}

// list style
.list-style-none {
    list-style: none;
}

.mg-0 {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

