@import "../../scss/_variables.scss";

.slider {
    padding-bottom: 10px;
    #carouselExampleControlsNoTouching {
        height: 100%;
        .carousel-inner {
            margin: auto;
            width: 90%;
            height: 100%;
            .carousel-item {
                height: 100%;
                img {
                    height: 100%;
                }
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
            span {
                background-color: $primary-color;
                padding: 10px;
                border-radius: $border-radius;
                width: 30px;
                height: 100px;
            }
        }
    }
}
